USE [DMIS]
GO
/****** Object:  Table [dbo].[CMIS_CASH]    Script Date: 01/29/2010 14:19:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMIS_CASH](
	[CUTDATE] [datetime] NULL,
	[ISANGLIBO] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_ISANGLIBO]  DEFAULT ((0)),
	[LIMANGDAAN] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_LIMANGDAAN]  DEFAULT ((0)),
	[DALAWANGDAAN] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_DALAWANGDAAN]  DEFAULT ((0)),
	[ISANGDAAN] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_ISANGDAAN]  DEFAULT ((0)),
	[SINGKWENTA] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_SINGKWENTA]  DEFAULT ((0)),
	[BENTE] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_BENTE]  DEFAULT ((0)),
	[SAMPU] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_SAMPU]  DEFAULT ((0)),
	[LIMANGPISO] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_LIMANGPISO]  DEFAULT ((0)),
	[PISO] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_PISO]  DEFAULT ((0)),
	[BENTESINKO] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_BENTESINKO]  DEFAULT ((0)),
	[DYES] [decimal](18, 2) NULL,
	[SINKO] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_SINKO]  DEFAULT ((0)),
	[SENTIMO] [float] NULL CONSTRAINT [DF_CMIS_CASH_SENTIMO]  DEFAULT ((0)),
	[TAG] [bit] NULL CONSTRAINT [DF_CMIS_CASH_TAG]  DEFAULT ((0)),
	[POST] [bit] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
