USE [DMIS]
GO
/****** Object:  Table [dbo].[CMIS_CASH_POS]    Script Date: 01/29/2010 14:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMIS_CASH_POS](
	[CUTDATE] [datetime] NULL,
	[CASH] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_CASH]  DEFAULT ((0)),
	[CHECK] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_CHECK]  DEFAULT ((0)),
	[CARD] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_CARD]  DEFAULT ((0)),
	[REPLENISH] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_REPLENISH]  DEFAULT ((0)),
	[EXPENSE] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_EXPENSE]  DEFAULT ((0)),
	[ADVANCES] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_ADVANCES]  DEFAULT ((0)),
	[AR] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_AR]  DEFAULT ((0)),
	[CASHDEPO] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_CASHDEPO]  DEFAULT ((0)),
	[CHECKDEPO] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_CHECKDEPO]  DEFAULT ((0)),
	[CARDDEPO] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_CARDDEPO]  DEFAULT ((0)),
	[FUND] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_FUND]  DEFAULT ((0)),
	[LTO_REPL] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_LTO_REPL]  DEFAULT ((0)),
	[LTO_EXP] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_LTO_EXP]  DEFAULT ((0)),
	[LTO_ADV] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_LTO_ADV]  DEFAULT ((0)),
	[LTO_AR] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_LTO_AR]  DEFAULT ((0)),
	[LTO] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_LTO]  DEFAULT ((0)),
	[PETPAYMENT] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_PETPAYMENT]  DEFAULT ((0)),
	[LTOPAYMENT] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_LTOPAYMENT]  DEFAULT ((0)),
	[PETTYCASH] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_PETTYCASH]  DEFAULT ((0)),
	[LTOCASH] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_LTOCASH]  DEFAULT ((0)),
	[INCASHMENT] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_INCASHMENT]  DEFAULT ((0)),
	[LTOINCASH] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_LTOINCASH]  DEFAULT ((0)),
	[CHKPAYMENT] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_CHKPAYMENT]  DEFAULT ((0)),
	[CHKINCASH] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_CHKINCASH]  DEFAULT ((0)),
	[CSHPAYMENT] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_CSHPAYMENT]  DEFAULT ((0)),
	[CSHINCASH] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_CSHINCASH]  DEFAULT ((0)),
	[TAG] [bit] NULL,
	[BEGIN] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_BEGIN]  DEFAULT ((0)),
	[END] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_END]  DEFAULT ((0)),
	[ADJ_CASH] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_ADJ_CASH]  DEFAULT ((0)),
	[ADJ_CHECK] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_ADJ_CHECK]  DEFAULT ((0)),
	[CARD_ADJ] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_CARD_ADJ]  DEFAULT ((0)),
	[ADJ_BEGIN] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_ADJ_BEGIN]  DEFAULT ((0)),
	[ADJ_END] [decimal](18, 2) NULL CONSTRAINT [DF_CMIS_CASH_POS_ADJ_END]  DEFAULT ((0)),
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0' ,@level0type=N'SCHEMA', @level0name=N'dbo', @level1type=N'TABLE', @level1name=N'CMIS_CASH_POS', @level2type=N'COLUMN', @level2name=N'LTO'
