USE [DMIS]
GO
/****** Object:  Table [dbo].[CMIS_TRANLIST]    Script Date: 01/29/2010 14:37:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CMIS_TRANLIST](
	[CUTDATE] [datetime] NULL,
	[TRANTYPE] [nvarchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[REFERENCE] [nvarchar](11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BALANCE] [decimal](18, 2) NULL,
	[DOCDTE] [datetime] NULL,
	[VAT] [binary](50) NULL CONSTRAINT [DF_CMIS_TranList_VAT]  DEFAULT ((1)),
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF